footer {
  position: fixed !important;
}
#title {
  max-width: 500px;
}
#creater {
  max-width: 400px;
}
#content {
  max-width: 500px;
}
#bcastDate {
  max-width: 200px;
}
#bcastTime {
  max-width: 150px;
}